# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database_name>?retryWrites=true&w=majority&appName=IBCluset

# JWT Config
JWT_SECRET=4f8b928bc5fce9e2365fc18a6df89d71c48e89fbe89ffea0b57e4e89ccaefbb5
JWT_REFRESH_SECRET=9a3f2b87aeffe35978accdb0ea17a94fbe9871cca199ed2003cbaa67deff1752
# Inaktivite durumunda 1 günde otomatik logout
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
