# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database_name>?retryWrites=true&w=majority&appName=IBCluset

# JWT Config
JWT_SECRET=super_secret_jwt_key
JWT_REFRESH_SECRET=super_secret_refresh_key
# Inaktivite durumunda 1 günde otomatik logout
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
